* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%; /* Ensure the full height of the viewport is used */
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column; /* Stack elements vertically */
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height:1.6;
    margin: 0;
    padding: 0;
    color: #0E0E26;
    background-color: #0E0E26;
}

.container {
    width: 80%;
    margin: 0 auto;
    /*min-height: calc(100vh - 60px);*/
    flex: 1; /* Allows container to expand and push the footer down */
    min-height: 0; /* fixes flexbox overflow issue */
}

header {
    text-align: center;
    padding: 20px 0;
    color: #0E0E26;
    background-color: #FFF;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    margin-top: 20px;
}

header h1 {
    margin: 0;
    color: #0E0E26;
}

header p {
    color: #0E0E26;
}

main {
    background-color: #FFF;
    text-align: center;
}

.contributions {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    text-align:left;
    padding-bottom: 20px;
}

.contributions h2 {
    color: #6365F7;
}

.contributions ul {
    padding: 0;
}

.contributions li {
    margin-bottom: 10px;
    padding: 0 0 0 8px;
}

.contributions a {
    color: #0E0E26;
    font-weight: bold;
}

.contributions a:hover {
    text-decoration: underline;
}

footer {
    text-align: center;
    padding: 20px 20px 20px 20px ;
    background-color: #6365F7;
    /* border-radius: 8px;*/
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;

    color: #FFF;
    width: 100%;
}

footer a {
    color: #38F9F9;
}

img {
    max-width: 100%;
    max-height: 100%;
    height: auto;
    width: auto;
}

/* Media Query for Mobile Devices */
@media (max-width: 600px) {
    .container {
        width: 100%; /* Take full page width on small screens */
    }

    footer {
        position: static; /* Normal flow in the page */
        width: 100%; /* Full width */
        font-size: 80%;
    }
}
