body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #0E0E26;
    background-color: #FFFFFF;
}

.container {
    width: 80%;
    margin: 0 auto;
}

header {
    text-align: center;
    padding: 20px 0;
    background-color: #FFF;
    color: #FFF;
}

header h1 {
    margin: 0;
    color: #0E0E26;
}

header p {
    color: #0E0E26;
}

.contributions {
    padding: 20px;
    border-radius: 8px;
    margin-top: 20px;
}

.contributions h2 {
    color: #FFFFFF;
}

.contributions ul {
    padding: 0;
}

.contributions li {
    margin-bottom: 10px;
    padding: 0 0 0 8px;
}

.contributions a {
    color: #0E0E26;
    text-decoration: none;
}

.contributions a:hover {
    text-decoration: underline;
}

footer {
    text-align: center;
    padding: 20px 0;
    background-color: #6365F7;
    color: #FFF;
    position: fixed;
    bottom: 0;
    width: 80%;
}

img {
    max-width: 100%;
    max-height: 100%;
    height: auto;
    width: auto;
}
